PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/kids-zone
JWT_SECRET=super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
MINING_DIFFICULTY=00

# SMTP
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=tu_usuario
SMTP_PASS=tu_password
SMTP_FROM="Kids Zone <no-reply@kidszone.com>"

# 2FA
2FA_CODE_EXPIRY_MINUTES=10
2FA_MAX_ATTEMPTS=3
2FA_RESEND_COOLDOWN_SECONDS=60